@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body.active {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-title {
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 4.3rem;
  font-weight: 300;
}

@media (min-width: 1200px) {
  .section-title {
    margin-top: 3em;
    font-size: 5rem;
  }
}

.section {
  margin: 5em 0;
}

.link-button {
  display: block;
  margin: 5em auto 0 auto;
  width: 80%;
  border: 0.1rem solid black;
  border-radius: 2rem;
  background: none;
  cursor: pointer;
}

.link-button a {
  display: block;
  padding: 1em 0;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #000;
}

.link-button:hover {
  background-color: black;
}

.link-button:hover a {
  color: white;
}

@media (min-width: 992px) {
  .link-button {
    width: 50%;
  }
}

.nav {
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 100;
}

.nav.active {
  background-color: rgba(0, 0, 0, 0.6);
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5em;
  padding: 0.3em;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  z-index: 10;
}

.nav__logo i {
  margin-right: 0.1em;
  font-size: 3.7rem;
}

.nav__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.nav__menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__menu ul {
  list-style-type: none;
}

.nav__menu-item {
  margin: 0.1em 0;
  text-align: center;
}

.nav__menu-item a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fff;
}

.nav__burger-btn {
  padding: 1em;
  border: 1px solid transparent;
  background: none;
  z-index: 10;
}

.nav__burger-btn span {
  display: block;
  margin: 0.6rem;
  width: 3.3rem;
  height: 0.4rem;
  border-radius: 1.2rem;
  background-color: #fff;
}

@media (min-width: 678px) {
  .nav {
    padding: 2em 0;
  }
  .nav__menu {
    display: block;
    position: relative;
    font-size: 1.8rem;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: none;
  }
  .nav__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__menu-item {
    margin: 0 0.4em;
    border-radius: 5rem;
  }
  .nav__menu-item:hover {
    background-color: #fff;
  }
  .nav__menu-item:hover a {
    color: black;
  }
  .nav__burger-btn {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-img-small.jpg");
  background-position: center;
  background-size: cover;
}

.header__card {
  padding: 1em 1em;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__card-title {
  margin-bottom: 0.2em;
  text-transform: uppercase;
  font-weight: 300;
}

.header__arrow-btn {
  position: absolute;
  bottom: 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
}

.header__arrow-btn.active {
  display: none;
}

.header__arrow-btn i {
  animation: arrowBtnAnimation 1s infinite alternate-reverse ease-in-out;
}

@-webkit-keyframes arrowBtnAnimation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

@keyframes arrowBtnAnimation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

@media (min-width: 678px) {
  .header {
    background-image: url("../img/header-img-big.jpg");
  }
  .header__card {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .header__card {
    font-size: 5rem;
  }
}

.main .info__text {
  padding: 0 0.5em;
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
}

.main .info__img {
  display: block;
  margin: 2em auto;
  width: 90%;
  border-radius: 3rem;
}

.main .info__subtitle {
  margin-top: 3em;
  margin-bottom: 0.3em;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.main .info__list {
  list-style-type: none;
  margin: 2em 0;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}

.main .info__list li {
  margin: 0.5em 0;
  font-weight: 300;
}

@media (min-width: 1200px) {
  .main .info__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .info__img {
    width: 50%;
  }
  .main .info__text--one {
    padding: 0 1em;
    margin-top: 3em;
  }
}

.main .planets__box {
  position: relative;
}

.main .planets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2em;
  padding: 0 2em;
}

.main .planets__card-image {
  margin: 0 auto;
  width: 100%;
}

.main .planets__card-info {
  margin: 0 auto;
  font-size: 4rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 300;
}

.main .planets .slick-arrow {
  position: absolute;
  height: 100%;
  width: 4rem;
  z-index: 10;
  font-size: 3rem;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
}

.main .planets .slick-prev {
  left: 0;
}

.main .planets .slick-next {
  top: 0;
  right: 0;
}

.main .films__card {
  margin: 4em 0;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .films__card:first-child {
  margin-top: 0;
}

.main .films__card-image {
  height: 20rem;
}

.main .films__card-image img {
  height: 100%;
}

.main .films__card-film-information p {
  text-align-last: left;
  font-size: 1.5rem;
}

.main .films__card-film-information span {
  color: #747171;
}

.main .films__card-description {
  padding: 1em 0;
  text-align: center;
  font-size: 1.6rem;
}

.main .films__card-title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
}

.main .films__button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 678px) {
  .main .films__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .films__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .main .films__card-info {
    padding: 0 3em;
  }
  .main .films__card-title {
    text-align: left;
  }
  .main .films__card-description {
    margin: 0.7em 0;
    text-align: left;
  }
  .main .films__card-description {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .main .films__card {
    width: 70%;
  }
}

.main .images__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .images__image {
  margin: 0.3em 0;
  width: 90%;
  height: 25rem;
  background-position: center;
  background-size: cover;
  border-radius: 3rem;
}

.main .images__image--one {
  background-image: url("../img/gallery/image_1.jpg");
}

.main .images__image--two {
  background-image: url("../img/gallery/image_2.jpg");
}

.main .images__image--three {
  background-image: url("../img/gallery/image_3.jpg");
}

.main .images__image--four {
  background-image: url("../img/gallery/image_4.jpg");
}

.main .images__image--five {
  background-image: url("../img/gallery/image_5.jpg");
}

.main .images__image--six {
  background-image: url("../img/gallery/image_6.jpg");
}

@media (min-width: 678px) {
  .main .images__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .main .images__image {
    margin: 0.3em;
    width: 30%;
    height: 20rem;
  }
}

.footer {
  margin-top: 5em;
  padding: 0.5em 0;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #beb9b9;
}

@media (min-width: 992px) {
  .footer {
    font-size: 2.4rem;
  }
}
/*# sourceMappingURL=style.css.map */