html {
    font-size: 62.5%;
}

// HEADER
.header {
    background-image: url('../img/header-images-small.jpg');
}

@media(min-width: 678px) {
    .header {
        background-image: url('../img/header-images-big.jpg');
    }
}

// MAIN
.content {
    &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img-box {
        position: relative;
        margin-top: 5em;
        width: 80%;
        height: 25rem;
        background-position: center;
        background-size: cover;
        border-radius: 3rem;
        cursor: pointer;

        &:first-child {
            margin: 0;
        }
    }

    &__popup {
        display: none;
        position: sticky;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.95);
        z-index: 10;

        &.active {
            display: block;
        }
    }

    &__popup-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 25rem;
        border-radius: 3rem;
        background-position: center;
        background-size: cover;
    }

    &__popup-button {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        padding: 0.6em;
        font-size: 3.4rem;
        border: 1px solid transparent;
        background-color: rgba($color: #000000, $alpha: 0.95);
        color: white;
        cursor: pointer;

        &--left {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }

        &--right {
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            right: 0;
        }
    }
}

@media(min-width: 678px) {
    .content {
        &__box {
            flex-wrap: wrap;
            flex-direction: row
        }

        &__img-box {
            width: 40%;
            height: 35rem;
            margin: 1em;

            &:first-child {
                margin: 1em;
            }
        }

        &__popup-image {
            height: 35rem;
        }
    }
};

@media(min-width: 992px) {
    .content {
        &__img-box {
            width: 30%;
            height: 40rem;
            margin: 1em;
        }

        &__popup-image {
            width: 60%;
            height: 35rem;
        }
    }
};

@media(min-width: 1200px) {
    .content {
        &__popup-image {
            width: 50%;
            height: 40rem;
        }
    }
};