@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

body {
    &.active {
        overflow: hidden;
    }
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 4.3rem;
    font-weight: 300;
}

@media(min-width: 1200px) {
    .section-title {
        margin-top: 3em;
        font-size: 5rem;
    }
}

.section {
    margin: 5em 0;
}

.link-button {
    display: block;
    margin: 5em auto 0 auto;
    width: 80%;
    border: 0.1rem solid black;
    border-radius: 2rem;
    background: none;
    cursor: pointer;

    a {
        display: block;
        padding: 1em 0;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #000;
    }

    &:hover {
        background-color: black;
        
        a {
            color: white;
        }
    }
}

@media(min-width: 992px) {
    .link-button {
        width: 50%;
    }
}



// NAV
.nav {
    position: fixed;
    width: 100%;
    color: #fff;
    z-index: 100;

    &.active {
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
        margin-left: 0.5em;
        font-size: 2rem;
        text-transform: uppercase;
        z-index: 10;

		i {
            margin-right: 0.1em;
			font-size: 3.7rem;
		}
	}

    &__menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        transform: translateX(100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
        transition: .3s ease-in-out;

        &.active {
            transform: translateX(0);
        }

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__menu-item {
        margin: 0.1em 0;
        padding: 0.5em 1em;
        text-align: center;
    }

    &__burger-btn {
        padding: 1em;
        border: 1px solid transparent;
        background: none;
        z-index: 10;

        span {
            display: block;
            margin: 0.6rem;
            width: 3.3rem;
            height: 0.4rem;
            border-radius: 1.2rem;
            background-color: #fff;
        }
    }
}

@media(min-width: 678px) {
    .nav {
        padding: 2em 0;

        &__menu {
            display: block;
            position: relative;
            font-size: 1.8rem;
            height: 100%;
            transform: translateX(0);
            background: none;

            ul {
                display: flex;
                justify-content: end;
                align-items: center;
            }
        }

        &__menu-item {
            padding: 0.3em 1em;
            margin: 0 0.3em;
            border-radius: 5rem;

            &:hover {
                background-color: #fff;
            }

            &:hover a {
                color: black;
            }
        }

        &__burger-btn {
            display: none;
        }
    }
}

// HEADER
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    background-image: url('../src/img/header-img-small.jpg');
    background-position: center;
    background-size: cover;

    &__card {
        padding: 4em 1em;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        border-radius: 2rem;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &__card-title {
        margin-bottom: 0.2em;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__arrow-btn {
        position: absolute;
        bottom: 3rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: none;
        border: 1px solid transparent;
        color: #fff;
        font-size: 2.4rem;
        cursor: pointer;

        &.active {
            display: none;
        }
    
        i {
            animation: arrowBtnAnimation 1s infinite alternate-reverse ease-in-out;
        }
    }

    @keyframes arrowBtnAnimation {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(30%);
        }
    }
}

@media(min-width: 678px) {
    .header {
        background-image: url('../src/img/header-img-big.jpg');

        &__card {
            padding: 3em 1em;
            font-size: 3.5rem;
        }
    }
}

@media(min-width: 1200px) {
    .header {
        &__card {
            padding: 3em 4em;
            font-size: 5rem;
        }
    }
}

// MAIN
.main {
    // SECTION INFORMATION
    .info {
        &__text {
            padding: 0 0.5em;
            text-align: center;
            line-height: 3rem;
            font-size: 2rem;
        }

        &__img {
            display: block;
            margin: 2em auto;
            width: 90%;
            border-radius: 3rem;
        }

        &__subtitle {
            margin-top: 3em;
            margin-bottom: 0.3em;
            text-align: center;
            font-size: 3rem;
            font-weight: 300;
        }

        &__list {
            list-style-type: none;
            margin: 2em 0;
            text-align: center;
            font-size: 2.3rem;
            font-weight: bold;

            li {
                margin: 0.5em 0;
                font-weight: 300;
            }
        }
    }

    @media(min-width: 1200px) {
        .info {
            &__area {
                display: flex;
            }

            &__img {
                width: 50%;
            }

            &__text {
                &--one {
                    padding: 0 1em;
                    margin-top: 3em;
                }
            }
        }
    }

    // SECTION PLANETS
    .planets {
        &__box {
            position: relative;
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 2em;
            padding: 0 2em;
        }

        &__card-image {
            margin: 0 auto;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__card-info {
            margin: 0 auto;
            font-size: 4rem;
            width: max-content;
            font-weight: 300;
        }
        
        .slick-arrow {
            position: absolute;
            height: 100%;
            width: 4rem;
            z-index: 10;
            font-size: 3rem;
            border: 1px solid transparent;
            background: none;
            cursor: pointer;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            top: 0;
            right: 0;
        }
    }

    // SECTION FILMS
    .films {
        &__card {
            margin: 4em 0;
            padding: 0 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:first-child {
                margin-top: 0;
            }
        }

        &__card-image {
            height: 20rem;

            img {
                height: 100%;
            }
        }

        &__card-film-information {
            
            p {
                text-align-last: left;
                font-size: 1.5rem;
            }

            span {
                color: rgb(116, 113, 113);
            }
        }

        &__card-description {
            padding: 1em 0;
            text-align: center;
            font-size: 1.6rem;
        }

        &__card-title {
            text-align: center;
            font-size: 3.2rem;
            font-weight: 300;
        }

        &__button {
            display: block;
            margin: 0 auto;
        }
    }

    @media(min-width: 678px) {
        .films {
            &__box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &__card {
                flex-direction: row;
                align-items: left;
                justify-content: left;
            }

            &__card-info {
                padding: 0 3em;
            }

            &__card-title {
                text-align: left;
            }

            &__card-description {
                margin: 0.7em 0;
                text-align: left;
            }

            &__card-description {
                padding: 0;
            }
        }
    }

    @media(min-width: 992px) {
        .films {
            &__card {
                width: 70%;
            }
        }
    }

    // SECTION IMAGES
    .images {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__image {
            margin: 0.3em 0;
            width: 90%;
            height: 25rem;
            background-position: center;
            background-size: cover;
            border-radius: 1rem;
            border: 1rem solid rgb(194, 189, 189);
            background-color: black;

            &--one {
                background-image: url('/src/img/gallery/image_1.jpg');
            }

            &--two {
                background-image: url('/src/img/gallery/image_2.jpg');
            }

            &--three {
                background-image: url('/src/img/gallery/image_3.jpg');
            }

            &--four {
                background-image: url('/src/img/gallery/image_4.jpg');
            }

            &--five {
                background-image: url('/src/img/gallery/image_5.jpg');
            }

            &--six {
                background-image: url('/src/img/gallery/image_6.jpg');
            }
        }
    }

    @media(min-width: 678px) {
        .images {
            &__content {
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                // background-color: black;
            }

            &__image {
                margin: 0.3em;
                width: 30%;
                height: 20rem;
            }
        }
    }
}

// FOOTER
.footer {
    margin-top: 5em;
    padding: 0.5em 0;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgb(190, 185, 185);
}

@media(min-width: 992px) {
    .footer {
        font-size: 2.4rem;
    }
}