@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Quicksand', sans-serif;
}

body {
    // overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 4.3rem;
}

.section {
    margin: 5em 0;
}

// NAV
.nav {
    position: fixed;
    width: 100%;
    color: #fff;
    z-index: 100;

    &.active {
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
        margin-left: 0.5em;
        font-size: 2rem;
        text-transform: uppercase;
        z-index: 10;

		i {
            margin-right: 0.1em;
			font-size: 3.7rem;
		}
	}

    &__menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        transform: translateX(100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
        transition: .3s ease-in-out;

        &.active {
            transform: translateX(0);
        }

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__menu-item {
        margin: 0.1em 0;
        padding: 0.5em 1em;
        text-align: center;
    }

    &__burger-btn {
        padding: 1em;
        border: 1px solid transparent;
        background: none;
        z-index: 10;

        span {
            display: block;
            margin: 0.6rem;
            width: 3.3rem;
            height: 0.4rem;
            border-radius: 1.2rem;
            background-color: #fff;
        }
    }
}

@media(min-width: 678px) {
    .nav {
        padding: 2em 0;

        &__menu {
            display: block;
            position: relative;
            font-size: 2.2rem;
            height: 100%;
            transform: translateX(0);
            background: none;

            ul {
                display: flex;
                justify-content: end;
                align-items: center;
            }
        }

        &__menu-item {
            padding: 0.3em 1em;
            margin: 0 0.3em;
            border-radius: 5rem;

            &:hover {
                background-color: #fff;
            }

            &:hover a {
                color: black;
            }
        }

        &__burger-btn {
            display: none;
        }
    }
}

// HEADER
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    background-image: url('../src/img/header-img-small.jpg');
    background-position: center;
    background-size: cover;

    &__card {
        padding: 4em 1em;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        border-radius: 2rem;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &__card-title {
        margin-bottom: 0.2em;
        text-transform: uppercase;
    }

    &__arrow-btn {
        position: absolute;
        bottom: 3rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        font-size: 2.4rem;

        &.active {
            display: none;
        }
    
        i {
            animation: arrowBtnAnimation 1s infinite alternate-reverse ease-in-out;
        }
    }

    @keyframes arrowBtnAnimation {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(30%);
        }
    }
}

@media(min-width: 678px) {
    .header {
        background-image: url('../src/img/header-img-big.jpg');

        &__card {
            padding: 3em 1em;
            font-size: 3.5rem;
        }
    }
}

@media(min-width: 1200px) {
    .header {
        &__card {
            padding: 3em 4em;
            font-size: 5rem;
        }
    }
}

// MAIN
.main {
    // SECTION INFORMATION
    .info {
        &__text {
            padding: 0 0.5em;
            text-align: center;
            line-height: 3rem;
            font-size: 2rem;
        }

        &__img {
            display: block;
            margin: 2em auto;
            width: 90%;
            border-radius: 3rem;
        }

        &__subtitle {
            margin-top: 3em;
            margin-bottom: 0.3em;
            text-align: center;
            font-size: 3rem;
        }

        &__list {
            list-style-type: none;
            margin: 2em 0;
            text-align: center;
            font-size: 2.3rem;
            font-weight: bold;

            li {
                margin: 0.5em 0;
            }
        }
    }

    @media(min-width: 1200px) {
        .info {
            &__area {
                display: flex;
            }

            &__img {
                width: 50%;
            }

            &__text {
                &--one {
                    padding: 0 1em;
                    margin-top: 3em;
                }
            }
        }
    }

    // SECTION PLANETS
    .planets {
        &__box {
            position: relative;
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 2em;
            padding: 0 2em;
        }

        &__card-image {
            margin: 0 auto;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__card-info {
            margin: 0 auto;
            font-size: 4rem;
            width: max-content;
        }
        
        .slick-arrow {
            position: absolute;
            height: 100%;
            width: 4rem;
            z-index: 10;
            font-size: 3rem;
            border: 1px solid transparent;
            background: none;
            cursor: pointer;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            top: 0;
            right: 0;
        }

        &__link {
            display: block;
            margin: 5em auto 0 auto;
            width: 80%;
            cursor: pointer;

            a {
                display: block;
                padding: 1em 0;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.6rem;
                color: #000;
            }
        }
    }

    
    











}